.container {
  display: flex;
  flex: 25%;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-word;
}

.container .title {
  font-style: italic;
}

.container #artist,
#year,
#exhibition,
#venue,
#tag {
  cursor: pointer;
}

.container a:not([id="sourceLink"]):hover {
  color: var(--orange);
  transition: var(--hoverTransition);
}

.sourceLink {
  color: blue;
  text-decoration: underline;
}

.container::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (max-height: 900px) {
  .container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
  }
}
