.container {
  display: flex;
  animation: animateArtwork var(--pageLoadAnimation);
}

@keyframes animateArtwork {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    text-align: center;
  }
}
