:root {
  --blue: #002d72;
  --orange: #f26e21;
  --hoverTransition: 0.15s;
  --pageLoadAnimation: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: grid;
  font-size: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* React Image Gallery */
.image-gallery,
.image-gallery:fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Prevent images from overflowing the image gallery */
.image-gallery-content {
  max-width: 100%;
}

.image-gallery-image {
  max-width: 75%;
}

/* Change the image gallery's navigation icons color */
.image-gallery .image-gallery-icon {
  color: black;
  filter: drop-shadow(0 0 0 white);
  outline: none;
}

.image-gallery .image-gallery-icon.image-gallery-left-nav .image-gallery-svg,
.image-gallery .image-gallery-icon.image-gallery-right-nav .image-gallery-svg {
  height: 90px;
  width: 45px;
}

.image-gallery .image-gallery-icon.image-gallery-left-nav:hover,
.image-gallery .image-gallery-icon.image-gallery-right-nav:hover,
.image-gallery .image-gallery-icon.image-gallery-fullscreen-button:hover {
  color: var(--orange);
}

/* Reset the max-width on mobile screens */
@media screen and (max-width: 768px) {
  .image-gallery .image-gallery-icon.image-gallery-left-nav .image-gallery-svg,
  .image-gallery
    .image-gallery-icon.image-gallery-right-nav
    .image-gallery-svg {
    height: 60px;
    width: 30px;
  }
}

/* Mosaic styling */

.mosaic {
  animation: animateMosaic var(--pageLoadAnimation);
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  gap: 10px;
  justify-content: center;

  background-color: yellow;
}

@keyframes animateMosaic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mosaic__container {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
}

[data-image="pixelated"] {
  background-color: gainsboro;
  image-rendering: pixelated;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  z-index: 2;
}

[data-image="pixelated"]:hover {
  display: none;
}

[data-image="regular"] {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  display: hidden;
  z-index: 1;
}

.hover-left:hover,
.hover-right:hover {
  transition: transform 0.45s;
  z-index: 100;
}

.hover-right:hover {
  transform: scale(3.4) translateX(1.1rem) translateY(1.1rem);
}
.hover-left:hover {
  transform: scale(3.4) translateX(-1.1rem) translateY(1.1rem);
}

.hover-right.up:hover {
  transform: scale(3.4) translateX(1.1rem) translateY(-1.1rem);
}
.hover-left.up:hover {
  transform: scale(3.4) translateX(-1.1rem) translateY(-1.1rem);
}
